[data-md-color-scheme^="radix-"] .md-header,
[data-md-color-scheme^="radix-"] .md-tabs {
  -webkit-backdrop-filter: blur(0.4rem);
  backdrop-filter: blur(0.4rem);
  background-color: var(--md-default-bg-color--light);
  color: var(--md-default-fg-color);
}

[data-md-color-scheme^="radix-"] .md-header--shadow {
  box-shadow: 0 0.05rem 0 var(--md-default-fg-color--lightest);
}

[data-md-color-scheme^="radix-"] .md-header__button,
[data-md-color-scheme^="radix-"] .md-header__title,
[data-md-color-scheme^="radix-"] .md-source {
  color: inherit;
}

[data-md-color-scheme^="radix-"] .md-header__button:hover,
[data-md-color-scheme^="radix-"] .md-source:hover {
  color: var(--theme-link-hover-color);
  opacity: 1;
}

.md-header__source {
  display: none !important;
  width: 0 !important;
  max-width: 0 !important;
  margin-left: 0 !important;
  margin-inline-start: 0 !important;
}

@media screen and (max-width: 76.234375em) {
  .md-nav .md-nav__title[for="__drawer"] {
    gap: 0;
    font-size: 0;
    line-height: 0;
  }

  .md-header__inner.md-grid {
    padding-right: 0;
  }

  .md-header__button[for="__search"] {
    margin-right: 0;
  }
}

@media screen and (min-width: 76.25em) {
  .md-header__button.md-logo img,
  .md-header__button.md-logo svg {
    height: 1.8rem;
  }

  .md-header__inner.md-grid {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.2rem;
    padding-right: 0.6rem;
  }

  .md-search {
    margin-left: auto;
    margin-inline-start: auto;
  }
}
